<!-- <div class="admin-dashboard">
  <h1>Admin Dashboard</h1>

  
  <form>
    <label for="courseId">Course ID:</label>
    <input type="text" id="courseId" name="courseId" required>

    <label for="courseName">Course Name:</label>
    <input type="text" id="courseName" name="courseName" required>

    <label for="topic">Topics</label>
    <div class="topics-container">
      <div *ngFor="let topic of topics; let i = index" class="topic-row">
        <input type="text" name="topic" required [(ngModel)]="topics[i]">
        <button class="delete-topic-btn" (click)="deleteTopic(i)">delete<i class="fas fa-trash"></i></button>
      </div>
    </div>
    <br>
    <br>

    <button type="button" (click)="addTopic()"><i class="fas fa-plus"></i> Add Topic</button>
    <button type="submit">Add Course</button>
  </form>
</div> -->

<!-- <div class="admin-page">
  <header class="header">
    <button style="margin-left: 93%;" class="home-button">Home</button>
  </header>
</div>
<div>
  <aside class="left-aside">
    
    <button class="add-button"><i class="bi bi-file-earmark-plus"></i><br>Add</button>
  </aside>
</div> -->

<div class="background">

  <nav class="navbar navbar-expand-sm navbar-light bg">
    <div class="container align-items-start">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item title">
          <h2><strong>logo</strong></h2>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
          <button class="home-button"><strong>Home</strong> <span class="sr-only"></span></button>
        </ul> </div>
        </nav>
  <div class="admin-page">
<div class="container">
  <aside class="left-aside">
    <button class="add-button"><i class="bi bi-file-earmark-plus"></i><br>Add</button>
  </aside>
  <aside class="right-aside">
    <div class="row">
      <div class="column">
        <div class="course-card">
          <img src="../../assets/courses/course.jpg" alt="Course 1">
          course1
          <button class="edit-button">Edit</button>
        </div>
      </div>
      <div class="column" >
        <div class="course-card">
          <img src="../../assets/courses/course.jpg" alt="Course 2">
          course2
          <button class="edit-button">Edit</button>
        </div>
      </div>
      <div class="column">
        <div class="course-card">
          <img src="../../assets/courses/course.jpg" alt="Course 3">
          course3
          <button class="edit-button">Edit</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="course-card">
          <img src="../../assets/courses/course.jpg" alt="Course 4">
          course4
          <button class="edit-button">Edit</button>
        </div>
      </div>
      <div class="column">
        <div class="course-card">
          <img src="../../assets/courses/course.jpg" alt="Course 5">
          course5
          <button class="edit-button">Edit</button>
        </div>
      </div>
      <div class="column">
        <div class="course-card">
          <img src="../../assets/courses/course.jpg" alt="Course 6">
          course6
          <button class="edit-button">Edit</button>
        </div>
      </div>
    </div>
  </aside>
</div>
<footer class="footer" >
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);  margin-left: 0px;
  margin-right: 90px;">
    <h6 class="text-light" >E-Learning Platform </h6>
  </div>
</footer>






</div>