   nav{
    background-color:#b49966;
  }
  
  .admin-page{
    
  }
  .home-button {
    background-color:#856b24;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-left:60px;
  }
  
  .home-button:hover {
    background-color: #007700;
  }
   .admin-dashboard {
    max-width: 600px;
    margin-top: 5%;
    margin-left: 26%;
    background-color: #856b24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

  }
  
  form {
    background-color: #b49966;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: #333;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
  }
  
  .topics-container {
    margin-bottom: 10px;
  }
  
  .topic-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .delete-topic-btn,
  .attach-file-btn {
    background-color: #f14009;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .attach-file-btn {
    background-color: #28a745;
  }
  
  button[type="button"],
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  button[type="button"]:hover,
  button[type="submit"]:hover,
  .delete-topic-btn:hover,
  .attach-file-btn:hover {
    opacity: 0.8;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b49966;
    color: aliceblue;
    text-decoration: none;
    padding-top: 20px;
    text-align: center;
    
  }
  .footer-text{
    font-size: large;
  }



  